In [ ]:
print("Stelios")
print("London")
print("Hi","there")

Stelios
London
Hi there

In [ ]:
print((3*12+5)/23)

1.7826086956521738

In [ ]:
input("Enter a name: ")

Enter a name: Prune

'Prune'

In [ ]:
name = input("Enter a name: ")
city = input("Enter a city: ")
print("Hello",name,"from",city)

Enter a name: Prune
Enter a city: London
Hello Prune from London

Exercise:
Ask user to enter name, tel number and city
Print in the following form:
Stelios from Paris, tel is:34324324

In [ ]:
name = input("enter a name: ")
tel = input("enter your tel: ")
city= input("enter your city: ")
print(name,"from",city, ",","tel is:",tel)

enter a name: prune
enter your tel: 435636
enter your city: london
prune from london , tel is:  435636

In [ ]:
print("Stelios"*3)
print("Setlios"+"1")

SteliosSteliosStelios
Setlios1

In [ ]:
age = int(input("how old are you?"))
print(age*3)

how old are you?6
18

Exercise: Ask user to give 2 numbers, one after the other, Print the addition of numbers.
5, 6, 11

In [ ]:
x = int(input("choose a number: "))
y = float(input("choose a second number: "))
print(x+y)

choose a number: 3
choose a second number: 4.5
7.5

In [ ]:
x = 10
y = 0
if y==0:
  print("I cannot divide by zero")
  print("t debile")
else:
  print(x/y)

I cannot divide by zero
t debile
okay

ask user to enter 2 integer numbers, print the largest number
5
12
max is 12

In [ ]:
x = int(input("choose a number: "))
y = int(input("choose another number: "))
if x>y:
  print("Max is",x)
else:
  print("max is",y)

choose a number: 4
choose another number: 3
Max is 4

In [ ]:
x = int(input("Enter a number: "))
if x>0:
  print("positive")
elif x==0:
  print("zero")
else:
  print("negative")

Enter a number: 0
zero

In [ ]:
x = int(input("Enter a number: "))
if x>=0 and x<=10:
  print("number between 0 and 10")

Enter a number: 10
number between 0 and 10

In [ ]:
x = float(input("What is your score: "))
if x>=0 and x<10:
  print("FAIL")
elif x>=10 and x<15:
  print("PASS")
elif x>=15 and x<=20:
  print("DISTINCTION")
else:
  print("ERROR")

What is your score: 11
PASS